@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$font-primary: Open Sans', sans-serif';

$turquoise: #1abc9c;
$greensea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peterriver: #3498db;
$belizehole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$sunflower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$asphalt: #34495e;
$midnight: #2c3e50;

$bg-primary: darken($midnight, 10%);
$bg-primary-focus: darken($bg-primary, 2%);
$bg-primary-active: darken($bg-primary-focus, 2%);

$bg-secondary: $clouds;

$color-success: $nephritis;
$color-success-focus: darken($color-success, 3%);
$color-success-active: darken($color-success-focus, 3%);

$color-error: $pomegranate;
$color-error-focus: darken($color-error, 3%);
$color-error-active: darken($color-success-focus, 3%);

$text-primary-color: $clouds;
